<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>649574617784-04d9rh21ogev4p6r7dqi8itdei0eqcc5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.649574617784-04d9rh21ogev4p6r7dqi8itdei0eqcc5</string>
	<key>API_KEY</key>
	<string>AIzaSyBvs7Qds-UnxOUUIkBt5u0s7ypk1ANQwmE</string>
	<key>GCM_SENDER_ID</key>
	<string>649574617784</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appJamOua</string>
	<key>PROJECT_ID</key>
	<string>appjamoua</string>
	<key>STORAGE_BUCKET</key>
	<string>appjamoua.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:649574617784:ios:cabbe2e3f5b04ee9695a4d</string>
</dict>
</plist>